.container-page {
  margin: 0;
  top: 0;
  padding-top: 120px; /* Adicione o padding com a altura do header */
  /* background-color: rgb(245, 245, 245); */
}

.header-container {
  background-color: black;
  display: flex;
  height: 65px;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 1px 1px 5px 1px black;
}

.page-products-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 30px;
  width: 90%;
  gap: 10px;
}

.header-container ul {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.button-header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid  5px red; */
}

.my-requests-header {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  height: 30px;
  justify-content: space-around;
  margin: 15px;
  width: 120px;
  padding: 10px;
}

.header-container li {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  height: 30px;
  justify-content: space-around;
  margin: 15px;
  width: 115px;
  padding: 10px;
  background-color: #ffd803;
}

.header-container li:hover {
  border: solid 1px white;
}

.client-and-button-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-right: 0;
  width: 30%;
  /* border: solid  5px blue; */
}

.button-go-out {
  align-items: center;
  background-color:  #ffd803;
  display: flex;
  font-size: 15px;
  height: 100%;
  justify-content: center;
  width: 70px;
}

.card-produtcs {
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: auto;
  margin-top: 15px;
  width: 250px;
  gap: 10px;
}

/* .card-produtcs:hover {
  transform: scale(1.02);
  transition: 1s;
} */

.card-produtcs img {
  border-radius: 8px;
  height: 120px;
  margin: auto;
  width: 100px;
}

.button-ver-carrinho {
  display: flex;
  height: 60px;
  min-width: 180px;
  width: 180px;
  justify-content: center;
  position: absolute; /* Ou fixed, se você quiser fixá-lo na tela */
  right: 100px;
}


.button-ver-carrinho button {
  background-color: rgb(26, 112, 26);
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 10px;
}

.card-produtcs h2 {
  align-items: center;
  background-color: #ffd803;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  width: 80px;
}

.card-produtcs h3 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5px;
  font-size: 15px;
}

.quantity-produtc {
  display: flex;
  justify-content: center;
}

.quantity-produtc input {
  align-items: center;
  border-bottom: solid 1.5px black;
  border-top: solid 1.5px black;
  display: flex;
  height: 40px;
  justify-content: center;
  text-align: center;
  width: 40px;
}

.button-add {
  /* align-items: center; */
  background-color: rgb(26, 112, 26);
  border-radius: 0 10px 10px 0;
  color: white;
  display: flex;
  font-size: 30px;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.button-substr {
  /* align-items: center; */
  background-color: rgb(26, 112, 26);
  border-radius: 10px 0 0 10px;
  color: white;
  display: flex;
  font-size: 30px;
  height: 40px;
  justify-content: center;
  width: 40px;
}
